img {
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
}


div.row
{
    position: relative;
    top: 80%;
    left: 7%;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 30%;
    height: 80%;
    border-color: black;
    position:absolute;
    left: 35%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    position: absolute;
    top: 60%;
    left: 40%
  }

  h4 b{
    position: relative;
    left: -5%;
  }
