
<div class="card">
  <img src="../../../assets/pic.jpg" alt="userPic" >
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Interior Designer</p> 
  </div>
  <div class="row">
    <div class="col-3" *ngIf="user.instagramURL">
  <a href="{{user.instagramURL}}" >instagram</a>
   </div>
    <div class="col-3" *ngIf="user.facebookURL">
  <a href="{{user.facebookURL}}" >facebook</a>
 </div>
 <div class="col-3" *ngIf="user.linkedInURL">
  <a href="{{user.linkedInURL}}" >linkedIn</a>
 </div>
 <div class="col-3" *ngIf="user.gitHubURL">
  <a href="{{user.gitHubURL}}" >gitHub</a>
  </div>
</div>
</div>




