
<!-- <div class="container">
    <div class="row">
      <div class="col-md-7 mrgnbtm">
        <h2>Create User</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-md-6">
                  <label for="exampleInputfacebook">facebook</label>
                  <input type="text" class="form-control" formControlName="facebook" id="exampleInputfacebook" aria-describedby="emailHelp" placeholder="facebook">
                </div>
                </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputInstagram">instagram</label>
              <input type="text" class="form-control" formControlName="instagram" id="exampleInputInstagram" aria-describedby="emailHelp" placeholder="instagram">
            </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="exampleInputlinkedIn">linkedIn</label>
            <input type="text" class="form-control" formControlName="linkedIn" id="exampleInputlinkedIn" aria-describedby="emailHelp" placeholder="linkedIn">
          </div>
      </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputGitHub">gitHub</label>
              <input type="text" class="form-control" formControlName="gitHub" id="exampleInputGitHub" aria-describedby="emailHelp" placeholder="gitHub">
            </div>
        </div>
        
          <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger" >Next</button>
        </form>
      </div>
      
    </div>
  </div>
 
 -->
