<div class="container">
    <div class="row">
      <div class="col-md-7 mrgnbtm">
        <h2>Create User</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-md-6">
                <label >password</label>
                <input type="text" class="form-control" formControlName="password" name="password" placeholder="password">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                <label>first name</label>
                <input type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="first name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                <label>last name</label>
                <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="last name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                <label>email</label>
                <input type="text" class="form-control" formControlName="email" name="email" placeholder="email">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                <label>phone</label>
                <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="phone">
                </div>
            </div>
            <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger" >Create</button>

        </form>
      </div>
    </div>
</div>
<!-- <button (click)="getall()">get all</button> -->



